.playerCardTiny {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0rem;
    width: 100%;
    position: relative;

    .playerCardTiny &__initials {
        background-color: #a5e9b4;
        padding: 0.3rem 0.8rem;
        width: 3rem;
        height: 2rem;
        border-radius: 3rem;
        font-weight: 700;
    }

    p {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2.5rem;
    }

    // Latest sum displays different
    &__point:last-child {
        font-size: 1.2rem;
        font-weight: 700;
        margin-top: auto;
    }
}
