@import "../variables";

.playerCardBig {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.8rem;
    width: 100%;
    position: relative;

    &__name {
        background-color: #e9e6a5;
        flex-grow: 1;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10rem;
        width: 100%;

        p {
            font-size: 1.3rem;
            font-weight: 700;
        }
    }

    input {
        width: 30%;
        font-size: 1.3rem;
    }
    svg {
        width: 3rem;
        fill: $main-color-dark;
    }

    &__buttons {
        display: flex;
        gap: 0.5rem;
    }
}
