@import "../variables";

.pageContainer {
    background-color: $background-color--main;
    padding: 1rem;

    .contentWrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 2rem;

        & > h2 {
            margin-top: 1rem;
            font-size: 1.2rem;
        }

        & > header p {
            max-width: 75%;
            margin: auto;
            margin-top: 0.5rem;
        }

        button {
            margin: 2rem 0;
        }
    }
}
