@import "mixins";
@import "variables";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
    font-family: $font-family-headings;
    line-height: 1.5;
    text-align: center;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1 {
    font-size: $font-size-h1;
    color: $color-h1;
    font-family: $font-family-headings;
    line-height: $line-height-headings;
}

h2 {
    font-size: $font-size-h2;
    color: $color-h2;
    font-family: $font-family-headings;
    line-height: $line-height-headings;
}

h3 {
    font-size: $font-size-h3;
    color: $color-h3;
    font-family: $font-family-headings;
    line-height: $line-height-headings;
}

p {
    font-size: $font-size-paragraph;
    color: $color-paragraph;
    font-family: $font-family-paragraph;
    line-height: $line-height-paragraph;
}

.scoreboard-container {
    display: grid;
    width: 100%;
    overflow-x: auto;
    gap: 1rem;
}

.inputFieldBig {
    color: rgb(34, 34, 34);
    height: 3rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5rem;
    border-style: none;
    background-color: rgb(228, 233, 239);
}

.editNameInput {
    color: rgb(34, 34, 34);
    height: 3rem;
    width: 100% !important;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5rem;
    border-style: none;
    background-color: rgb(228, 233, 239);
    position: absolute;
    flex-grow: 1;
}

.tinyEditPointInput {
    position: absolute;
    height: 2.5rem;
    width: 2.5rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    border-radius: 5rem;
    border-style: none;
    bottom: 0;
    background-color: rgb(228, 233, 239);
}
