@import url("/src/styles/components/PlayerCardSmall.module.scss");

#root {
    margin: 0 auto;
    text-align: center;
}

.scoreboard-container {
    display: grid;
    width: 100%;
    overflow-x: auto;
    gap: 1.1rem;
}
