@import url("/src/styles/components/PlayerCardSmall.module.scss");

#root {
    margin: 0 auto;
    text-align: center;
}

.scoreboard-container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
