@import url("/src/styles/components/PlayerCardSmall.module.scss");

#root {
    margin: 0 auto;
    text-align: center;
}

.scoreboard-container {
    display: grid;
    width: 100%;
    overflow-x: auto;
    gap: 1.1rem;
}

.inputFieldBig {
    color: rgb(34, 34, 34);
    height: 3rem;
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    border-radius: 5rem;
    border-style: none;
    background-color: rgb(228, 233, 239);
}
